.form{
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 2rem;
    display: block;
    margin: 2rem auto;
}
form{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.label{
    margin: .5rem 0;
}
.imagePreview{
    position: relative;
}
.uploadImg, 
.capaImg,
.uploadImg img, 
.capaImg img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.uploadImg img{
    z-index: 5;
}
.capaImg img{
    z-index: 10;
}